<div class="shipping-address col-sm-12">
  <address>
    <strong>{{ first_name }} {{ last_name}}</strong><br>
    {{ address_line1 }}<br>
    {{#if address_line2 }}
      {{ address_line2 }}<br>
    {{/if}}
    {{ city }}, {{ state }} {{ zip_code }}<br>
  </address>
</div>
