<div class="col-sm-12 top-row">
  <div class="shipping-address-wrapper col-sm-5">
    <div class="shipping-address col-sm-12">
      <h5>SHIPPING ADDRESS</h5>
      <div class="shipping-address-wrapper">
        {{> _address_display shipping_address }}
      </div>
    </div>
  </div>
  <div class="products-wrapper col-sm-7">
    <div class="products col-sm-12">
      <h5>PRODUCT DETAILS</h5>
      <div class="product-name col-sm-12">
        <label class="col-sm-3 control-label">Name</label>
        <div class="controls col-sm-9">
          <p class="form-control-static">
            <a class="product-name-link" href="{{ product_url }}">{{ product_name }}</a>
          </p>
        </div>
      </div>
      {{#each products}}
        {{#each dimensions}}
          <div class="variant-description col-sm-12">
            <label class="col-sm-3 control-label">{{ capitalize name}}</label>
            <div class="col-sm-9 controls">
              <p class="form-control-static">{{ value }}</p>
            </div>
          </div>
        {{/each}}
        <div class="variant-quantity col-sm-12">
          <label class="col-sm-3 control-label">Quantity</label>
          <div class="col-sm-9 controls">
            <p class="form-control-static">{{ quantity }}</p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>
<div class="col-sm-12 bottom-row">
  <div class="billing-address-wrapper col-sm-5">
    <div class="billing-address col-sm-12">
      <h5>BILLING ADDRESS</h5>
      <div class="billing-address-wrapper">
        {{> _address_display billing_address }}
      </div>
    </div>
  </div>
  <div class="payment-and-pricing col-sm-7">
    <div class="payment-method col-sm-12">
      <h5>PAYMENT AND PRICING</h5>
      <div class="payment-method-brand col-sm-12">
        <label class="col-sm-3 control-label">{{ payment_method.brand }}</label>
        <div class="col-sm-9 controls">
          <p class="form-control-static">
            **** **** **** {{ payment_method.last_four }}
          </p>
        </div>
      </div>
      <div class="subtotal col-sm-12">
        <label class="col-sm-3 control-label">Subtotal</label>
        <div class="col-sm-9 controls">
          <p class="form-control-static">${{ displayDollars price_components.subtotal }}</p>
        </div>
      </div>
      <div class="shipping col-sm-12">
        <label class="col-sm-3 control-label">Shipping</label>
        <div class="col-sm-9 controls">
          <p class="form-control-static">${{ displayDollars price_components.shipping }}</p>
        </div>
      </div>
      <div class="tax col-sm-12">
        <label class="col-sm-3 control-label">Tax</label>
        <div class="col-sm-9 controls">
          <p class="form-control-static">${{ displayDollars price_components.tax }}</p>
        </div>
      </div>
      <div class="total col-sm-12">
        <label class="col-sm-3 control-label">Total</label>
        <div class="col-sm-9 controls">
          <p class="form-control-static">
          <strong>${{ displayDollars price_components.total }}</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
