<div class="retailer">
  <h2 class="page-header">Retailer</h2>
  <div class="form-horizontal">
    <div class="retailer-name form-group">
      <label class="col-sm-2 control-label">Retailer Name</label>
      <div class="col-sm-3">
        <p class="form-control-static">{{ retailer }}</p>
      </div>
    </div>
  </div>
</div>
<div class="products">
  <h2 class="page-header">Products</h2>
  {{#each products}}
    <div class="variant-option form-horizontal">
      <div class="variant-price form-group">
        <label class="col-sm-2 control-label">Price</label>
        <div class="col-sm-3">
          <p class="form-control-static">{{ unit_price }}</p>
        </div>
      </div>
      {{#each dimensions}}
        <div class="variant-description form-group">
          <label class="col-sm-2 control-label">{{ name }}</label>
          <div class="col-sm-3">
            <p class="form-control-static">{{ value }}</p>
          </div>
        </div>
      {{/each}}
      <div class="variant-quantity form-group">
        <label class="col-sm-2 control-label">Quantity</label>
        <div class="col-sm-3">
          <p class="form-control-static">{{ quantity }}</p>
        </div>
      </div>
    </div>
  {{/each}}
</div>
<div class="shipping-address">
  <h2 class="page-header">Shipping Address</h2>
  {{> _address_display shipping_address }}
</div>
<div class="payment-method">
  <h2 class="page-header">Payment Information</h2>
  <div class="form-horizontal">
    <div class="payment-method-brand form-group">
      <label class="col-sm-2 control-label">Credit Card Brand</label>
      <div class="col-sm-3">
        <p class="form-control-static">{{ payment_method.brand }}</p>
      </div>
    </div>
    <div class="payment-method-last-four form-group">
      <label class="col-sm-2 control-label">Credit Card</label>
      <div class="col-sm-3">
        <p class="form-control-static">
          **** **** **** {{ payment_method.last_four }}
        </p>
      </div>
    </div>
  </div>
</div>
